<div class="TC__Wrapper" id="manage-collection">
    <div class="TC__Header">
        <div class="TC__Header__Title">Thelia Collection</div>
        <div class="TC__Header__Infos">
            <span class="TC__Header__Description">
                Create a collection of any item and associate it to any other item
            </span>
            <button class="TC__Button">
                Créer une collection
            </button>
        </div>
    </div>

    <div class="TC__Content">
        <div id="linked-collection-list">
            <div class="TC__Title">Liste des collections liées</div>
            <div class="TC__Table__Wrapper">
                <table class="TC__Table">
                    <thead class="TC__Table__Header">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Code</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {loop type="thelia_collection_item" name="collections-item" item_id=$itemId}
                            {loop type="thelia_collection" name="collections" id=$THELIA_COLLECTION_ID}
                                <tr class="TC__Table__Row">
                                    <td class="TC__Table__Row__Id">#{$ID}</td>
                                    <td class="TC__Table__Row__Title">{$TITLE}</td>
                                    <td class="TC__Table__Row__Title">{$CODE}</td>
                                    <td class="TC__Table__Row__Actions">
                                        <div class="TC__Table__Row__Actions__Wrapper">
                                            <button class="TC__Table__Row__Link__Action" data-collection-id="{$ID}" data-item-type="{$itemType}" data-item-id="{$itemId}">
                                                <i class="fas fa-unlink"></i> Délier
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {/loop}
                        {/loop}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="associate-collection">
            <div class="TC__Title">Lier une collection existante</div>

            <div class="TC__Fields">
                <div>
                    <label for="collection-list">Nom de la collection</label>
                    <select id="collection-list" name="collection-list" class="Input__Select">
                        {loop type="thelia_collection" name="existing-collections"}
                            <option value="{$ID}">#{$ID} - {$TITLE}</option>
                        {/loop}
                    </select>
                </div>

                <button class="TC__Button" style="height: 40px;">
                    <i class="fas fa-link"></i> Lier
                </button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{encore_module_asset file='assets/css/styles.css' module="TheliaCollection"}" />

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const linkedCollectionList = document.querySelector('#linked-collection-list');
    const associateCollection = document.querySelector('#associate-collection');

    async function deleteAssociation(collectionId, itemId, itemType) {
        const response = await axios.delete(
            "/open_api/collection/" + collectionId + "/item",
            {
                data: {
                    itemId,
                    itemType
                }
            }
        );

        if (response.status === 200) {
            deleteRow(collectionId);
        }
    }

    async function associateItem(currentCollection, associateItemId, associateItemType) {
        const selectedCollectionId = associateCollection.querySelector('select#collection-list').value;

        const response = await axios.post(
            "/open_api/collection/" + selectedCollectionId + "/item",
            {
                itemType: associateItemType,
                itemId: associateItemId,
            }
        );

        if (response.status === 200) {
            createRow(response.data, associateItemId, associateItemType);
        }
    }

    linkedCollectionList.querySelectorAll('.TC__Table__Row__Link__Action').forEach(el => {
        el.addEventListener('click', async (e) => {
            e.preventDefault();
            const collectionId = el.dataset.collectionId;
            const itemId = el.dataset.itemId;
            const itemType = el.dataset.itemType;

            await deleteAssociation(collectionId, itemId, itemType);
        })
    })

    associateCollection.querySelector(".TC__Button").addEventListener('click', async (e) => {
        e.preventDefault();
        const associateItemId = "{$itemId}"
        const associateItemType = "{$itemType}"


        await associateItem(associateCollection, associateItemId, associateItemType);
    })

    const createRow = (data, associateItemId, associateItemType) => {
        const collectionRow = document.createElement('tr');
        collectionRow.classList.add('TC__Table__Row');

        const collectionId = document.createElement('td');
        collectionId.classList.add('TC__Table__Row__Id');
        collectionId.innerText = '#' + data.id;

        const collectionTitle = document.createElement('td');
        collectionTitle.classList.add('TC__Table__Row__Title');
        collectionTitle.innerText = data.title;

        const collectionCode = document.createElement('td');
        collectionCode.classList.add('TC__Table__Row__Title');
        collectionCode.innerText = data.code;

        const collectionActions = document.createElement('td');
        collectionActions.classList.add('TC__Table__Row__Actions');

        const collectionActionsWrapper = document.createElement('div');
        collectionActionsWrapper.classList.add('TC__Table__Row__Actions__Wrapper');

        const collectionUnlinkButton = document.createElement('button');
        collectionUnlinkButton.classList.add('TC__Table__Row__Link__Action');
        collectionUnlinkButton.setAttribute('data-collection-id', data.id);
        collectionUnlinkButton.setAttribute('data-item-type', associateItemType);
        collectionUnlinkButton.setAttribute('data-item-id', associateItemId);

        const collectionUnlinkButtonIcon = document.createElement('i');
        collectionUnlinkButtonIcon.classList.add('fas', 'fa-unlink');
        collectionUnlinkButton.appendChild(collectionUnlinkButtonIcon);
        collectionUnlinkButton.appendChild(document.createTextNode(' Délier'));

        collectionActionsWrapper.appendChild(collectionUnlinkButton);
        collectionActions.appendChild(collectionActionsWrapper);

        collectionRow.appendChild(collectionId);
        collectionRow.appendChild(collectionTitle);
        collectionRow.appendChild(collectionCode);
        collectionRow.appendChild(collectionActions);

        collectionUnlinkButton.addEventListener('click', async (e) => {
            e.preventDefault();
            await deleteAssociation(data.id, associateItemId, associateItemType);
        })

        linkedCollectionList.querySelector('tbody').appendChild(collectionRow);
    }

    const deleteRow = (collectionId) => {
        const collectionRow = linkedCollectionList.querySelector('[data-collection-id="' + collectionId + '"]').closest('tr');
        collectionRow.remove();
    }
</script>
