{default_translation_domain domain='theliacollection.bo.default'}
<div class="container" id="wrapper">
    <div class="general-block-decorator">
        <div class="title title-without-tabs">
            {intl l="Configure Thelia Collection"}
        </div>

        <div class="row">
          <div class="TC__Wrapper" id="manage-collection">
            <div class="TC__Header">
                <div class="TC__Header__Title">Thelia Collection</div>
                <div class="TC__Header__Infos">
                    <span class="TC__Header__Description">
                        {intl l="Create a collection of any item and associate it to any other item"}
                    </span>
                </div>
            </div>

            <div class="TC__Content">
                <form id="create-collection">
                    <div class="TC__Title">{intl l="Create a collection"}</div>

                    <div class="TC__Fields">
                        <div class="TC__Field" style="width: 50%;">
                            <label for="collection-name">{intl l="Name"}</label>
                            {loop type="lang" name="default-lang" default_only="1"}
                                <div class="input-group">
                                    <input value="" type="text" id="collection-name" class="Input__Text Input__Text__Lang" placeholder="Nom de la collection" required>
                                    <span class="input-group-addon Input__Text"><img class="img-flags" src="{image file="assets/img/svgFlags/$CODE.svg"}" alt="{$TITLE}" /></span>
                                </div>
                            {/loop}
                        </div>

                        <div class="TC__Field" style="width: 25%;">
                            <label for="collection-item-type">{intl l="Item Type"}</label>
                            <select class="Input__Select"  id="collection-item-type">
                                <option value="">{intl l="All"}</option>
                                <option value="content">{intl l="Content"}</option>
                                <option value="folder">{intl l="Folder"}</option>
                                <option value="category">{intl l="Category"}</option>
                                <option value="product">{intl l="Product"}</option>
                            </select>
                        </div>


                        <div class="TC__Field" style="width: 25%;">
                            <label for="collection-code">Code</label>
                            <input value="" type="text" id="collection-code" class="Input__Text" placeholder="Code de la collection" required>
                        </div>
        
                        <button class="TC__Button" type="submit" style="height: 40px;">
                            Créer
                        </button>
                    </div>
                </form>

                <div id="collection-list">
                    <div class="TC__Title">{intl l="Collection list"}</div>
                    <div class="TC__Table__Wrapper">
                        <table class="TC__Table">
                            <thead class="TC__Table__Header">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Code</th>
                            </tr>
                            </thead>
                            <tbody>
                                {loop type="thelia_collection" name="collections"}
                                    <tr class="TC__Table__Row">
                                        <td class="TC__Table__Row__Id">#{$ID}</td>
                                        <td class="TC__Table__Row__Title">{$TITLE}</td>
                                        <td class="TC__Table__Row__Title">{$CODE}</td>
                                        <td class="TC__Table__Row__Actions">
                                          <div class="TC__Table__Row__Actions__Wrapper">
                                              <button class="TC__Button" data-delete data-collection-id="{$ID}">
                                                  <i class="fas fa-trash-alt"></i>
                                              </button>
                                              <button class="TC__Button TC__Button__Edit" data-edit data-collection-id="{$ID}">
                                                  <i class="fas fa-edit"></i>
                                              </button>
                                          </div>
                                      </td>
                                    </tr>
                                {/loop}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>


<template id="collection-row">
    <tr class="TC__Table__Row">
        <td class="TC__Table__Row__Id">#%ID%</td>
        <td class="TC__Table__Row__Title">%TITLE%</td>
        <td class="TC__Table__Row__Title">%CODE%</td>
        <td class="TC__Table__Row__Actions">
            <div class="TC__Table__Row__Actions__Wrapper">
                <button class="TC__Button" data-delete data-collection-id="%ID%">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button class="TC__Button TC__Button__Edit" data-collection-id="%ID%">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
        </td>
    </tr>
</template>

<link rel="stylesheet" href="{encore_module_asset file='assets/css/override.css' module="TheliaCollection"}" />
<link rel="stylesheet" href="{encore_module_asset file='assets/css/styles.css' module="TheliaCollection"}" />

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const createCollectionForm = document.querySelector('#create-collection');
  const collectionNameInput = document.querySelector('#create-collection #collection-name');
  const collectionCodeInput = document.querySelector('#create-collection #collection-code');
  const collectionList = document.querySelector('#collection-list');

  function template( templateId, data ){
      const template = document.getElementById( templateId );
      template.innerHTML = template.innerHTML
          .replace(
              /%(\w*)%/g,
              function( m, key ){
                  return data.hasOwnProperty( key ) ? data[ key ] : "";
              }
          );
      const result = template.content.children;
      if (result.length === 1) return result[0];
      return result;
  }

  async function createCollection(name, code) {
    const response = await axios.post('/open_api/collection', {
      title: name,
      code: code,
    });

    if (response.status === 200) {
      createRow(response.data);
    }
  }

  async function deleteCollection(collectionId) {
    const response = await axios.delete('/open_api/collection/' + collectionId);

    if (response.status === 204) {
      deleteRow(collectionId);
    }
  }

  createCollectionForm.addEventListener('submit', (e) => {
    e.preventDefault();
    
    const collectionName = collectionNameInput.value;
    const collectionCode = collectionCodeInput.value;

    createCollection(collectionName, collectionCode);
  });

  initListeners();

  function initListeners() {
      collectionList.querySelectorAll('.TC__Button[data-delete]').forEach(el => {
          el.addEventListener('click', async (e) => {
              e.preventDefault();
              if (window.confirm("Do you really want to delete this collection?")) {
                  const collectionId = el.dataset.collectionId;
                  await deleteCollection(collectionId);
              }
          })
      });
  }


  const createRow = (data) => {
        {literal}
            const row = template("collection-row", {ID: data.id,CODE: data.code,TITLE: data.title});
        {/literal}

        collectionList.querySelector('tbody').appendChild(row);
        initListeners();
    }

    const deleteRow = (collectionId) => {
      const collectionRow = collectionList.querySelector('[data-collection-id="' + collectionId + '"]').closest('tr');
      collectionRow.remove();
    } 
</script>
