.modules-configure {
  padding-top: 15px;
}

.TC__Header {
  background-color: #F5F5F5;
  padding-top: 40px;
  padding-bottom: 48px;
}

.TC__Header__Infos {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.TC__Button {
  background-color: #DC3018;
  color: white;
  padding: 8px 20px;
  text-transform: uppercase;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  height: max-content;
  width: max-content;
}

.TC__Button__Edit {
  background-color: #5bc0de;
}

.TC__Button:hover {
  background-color: #FA533C;
}

.TC__Button__Edit:hover {
  background-color: #64d7f9;
}

.TC__Header__Title, .TC__Title {
  font-size: 1.875rem;
  color: #333333;
  font-weight: 700;
  margin-bottom: 40px;
}

.TC__Title {
  font-size: 1.25rem;
}

.TC__Content {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(235,235,235,1) 0%, rgba(245,245,245,1) 100%);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.TC__Table__Wrapper {
  overflow: hidden; 
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; 
  padding-left: 3.5rem;
  padding-right: 3.5rem; 
  background-color: #ffffff; 
  text-align: center; 
  border-radius: 0.375rem; 
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.TC__Table {
  width: 100%;
  text-align: left;
  border-radius: 6px;
}

.TC__Table thead {
  font-size: 0.75rem;
  line-height: 1rem; 
  letter-spacing: 0.05em; 
  text-transform: uppercase; 
  color: #787878;
}

.TC__Table tr {
  border-bottom-width: 1px; 
}

.TC__Table tr:last-child {
  border-bottom-width: 0px;
}

.TC__Table th {
  padding: 1rem; 
  font-weight: 400; 
}

.TC__Table th:last-child {
  padding-right: 0;
}

.TC__Table td {
  padding: 1rem; 
  font-weight: 400; 
}

.TC__Table td:last-child {
  padding-right: 0;
}

.TC__Table__Row__Title {
  overflow: hidden; 
  text-overflow: ellipsis;
  font-weight: 700; 
  white-space: nowrap; 
  max-width: 170px;
}

.TC__Table__Row__Actions__Wrapper {
  display: flex;
  gap: 12px;
}

.TC__Table__Row__Link__Action {
  display: flex; 
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
  color: #ffffff; 
  font-weight: 600; 
  letter-spacing: 0.05em; 
  text-transform: uppercase; 
  align-items: center; 
  border-radius: 0.375rem; 
  gap: 0.5rem; 
  background-color: #DC3018;
  height: 32px;
}

.TC__Table__Row__Link__Action:hover {
  background-color: #FA533C;
}

.TC__Create {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.TC__Fields {
  display: flex;
  gap: 15px;
  align-items: flex-end;
}

.TC__Field {
  display: flex;
  flex-direction: column;
}

.Input__Text, .Input__Select {
  position: relative;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(167 167 167 / var(--tw-border-opacity));
  padding: 0.5rem 1rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  height: 40px;
}

.Input__Text__Lang {
  border-radius: 0.375rem 0 0 0.375rem;
}

.input-group-addon {
  width: 1%;
}

.Input__Select {
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='currentcolor' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-color: #fff;
  background-position: calc(100% - 12px) center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.TC__Results__wrapper {
  position: relative;
}

.TC__Results {
  padding: 10px;
  position: absolute;
  top: 0;
  background: white;
  min-width: 100%;
  z-index: 1;
}

.TC__Results__Type ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.TC__Results__Type li {
  list-style: none;
}

.TC__Results__Type button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px;
  border-radius: 4px;
  text-align: left;
  gap: 10px;
}

.TC__Results__Type button:hover {
  background-color: #5bc0de20;
}
.TC__Results__Type button:after {
  content: '+';
  height: 20px;
  width: 20px;
  background-color: #5bc0de;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border-radius: 4px;
  flex-shrink: 0;
  text-align: center;
}

.TC__Results__Title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

.TC__Table__Title {
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 640px) {
  .TC__Header, .TC__Content {
    padding: 32px;
  }
}

@media (min-width: 768px) {
  .TC__Header, .TC__Content {
    padding: 32px 96px;
  }
}

@media (min-width: 1024px) {
  .TC__Header, .TC__Content {
    padding: 32px 128px;
  }
}

@media (min-width: 1280px) {
  .TC__Header, .TC__Content {
    padding: 32px 176px;
  }
}

@media (min-width: 1536px) {
  .TC__Header, .TC__Content {
    padding: 32px 288px;
  }
}
